.errorMessage {
  /* margin-bottom: 40px !important; */
  position: absolute !important;
  display: block !important;
  font-size: 14px !important;
  color: red; /* This replaces the `text-danger` class */
}
.form-control{
  margin-top: 15px !important;
  height: 40px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.input-group-text{
  margin-top: 15px !important;
  border-top-left-radius: 20px !important;
  border-right: none !important ;
  border-bottom-left-radius: 20px !important;
  padding-left: 20px !important;
  background-color: white !important;
}
.btn-sig{
  background: linear-gradient(to top, #5348A4,#70198A );
}
.btn-pri{
  background: linear-gradient(to top, #5348A4,#70198A );
}
.row{
  width: 1525px !important;
}
@media screen and (max-width : 1440px) {
  .row{
    width: 1400px !important; 
    padding-left: 0px !important;
    padding-top: 180px !important;
    
  }
  .col-md-8{
    padding-left: 0px !important;
    border-bottom-left-radius: 15px !important;
  }
  .mt-5{
    margin-top: 20px !important;
  }
  .btn-pri{
    margin-top: 10px !important;
  }
}
@media screen and (max-width : 1024px) {
  .row{
    width: 1020px !important; 
    padding-left: 0px !important;
    padding-top: 50px !important;
  }
  .col-md-8{
    padding-left: 0px !important;
    border-bottom-left-radius: 15px !important;
  }
  .mt-5{
    margin-top: 20px !important;
  }
  .btn-pri{
    margin-top: 10px !important;
  }
}
@media screen and (max-width : 800px) {
  .row{
    margin-top: 0px !important;
    padding-top: 10px !important;
    height: 650px !important;
    width: 765px !important;
  }
  .errorMessage{
    display: block !important;
    position: absolute !important;
    float:  left !important;
    width: max-content !important;
  }
  .btn-reg{
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width : 500px) {
  .row{
    width: 8cm !important;
    /* margin-left: 40px !important; */
  }
  .pt-5{
    padding-top: 10px !important;
  }
  .p-5{
    padding: 0px !important;
    margin-left: 10px !important;
    padding-bottom: 10px !important;
  }
  .pb-5{
    padding-bottom: 20px !important;
  }
  .d-flex{
    display: flex !important;
    flex-direction: column !important;
  }
  .col-md-8{
    width: 10cm !important;
  }
  .form-control{
    height: 40px !important;
  }
  .mt-5{
    margin-top: 20px !important;
  }
  .px-5{
    padding-left: 10px !important ;
    padding-right: 10px !important;
  }
  .btn-pri{
    float:  left !important;
    margin-top: 10px !important;
    padding: 10px 80px !important;
  }
}