.errorMessage {
  /* margin-bottom: 40px !important; */
  position: absolute !important;
  display: block !important;
  font-size: 14px !important;
  color: red; /* This replaces the `text-danger` class */
}
.form-control{
  margin-top: 15px !important;
  height: 40px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}
.input-group-text{
  margin-top: 15px !important;
  border-top-left-radius: 20px !important;
  border-right: none !important ;
  border-bottom-left-radius: 20px !important;
  padding-left: 20px !important;
  background-color: white !important;
}
.btn-sig{
  background: linear-gradient(to top, #5348A4,#70198A );
}
.btn-pri{
  background: linear-gradient(to top, #5348A4,#70198A );
}
@media screen and (max-width : 1024px) {
  a{
    margin-top:10px !important;
    margin-right: 0px !important;
  }
  .btn-div{
    margin-top: 20px !important;
  }
}
@media screen and (max-width : 768px) {
  p{
    font-size: 15px !important;
    margin-bottom: 0px !important;
  }
  a{
    font-size: 15px !important;
    margin-right: 5px !important;
  }
}
@media screen and (max-width : 500px) {
  
  .pt-5{
    padding-top: 10px !important;
  }
  .p-5{
    padding: 0px !important;
    margin-left: 10px !important;
    padding-bottom: 10px !important;
  }
  .pb-5{
    padding-bottom: 20px !important;
  }
  .d-flex{
    display: flex !important;
    flex-direction: column !important;
  }
  .col-md-8{
    width: 10cm !important;
  }
  .form-control{
    height: 40px !important;
  }
  .mt-5{
    margin-top: 20px !important;
  }
  .px-5{
    padding-left: 10px !important ;
    padding-right: 10px !important;
  }
  .btn-pri{
    float:  left !important;
    margin-top: 10px !important;
    padding: 10px 70px !important;
  }
  .col-md-6{
    margin-left: 0px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}